@charset "UTF-8";

html {
	font-size: 20px;
}

body, button, input, select, textarea {
	font-family: "Roboto Slab";
	font-display: swap;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
small { font-size: 0.75rem; }

picture {
	position: relative;
}

picture source {
	position: absolute;
}

#navbar {
	will-change: transform;
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.header-unpin {
	transform: translateY(-65px);
	opacity: 0;
}

.header-pin {
	transform: translateY(0);
	opacity: 1;
}
.hero {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1023px) {
	.navbar.is-fixed-bottom, .navbar.is-fixed-top {
		left: auto;
	}
	.navbar.is-fixed-bottom.is-active, .navbar.is-fixed-top.is-active {
		left: 0;
	}
}

video#hero-video {
	position: absolute;
	z-index: 0;
	background-image: url(//images.weserv.nl/?url=https://vite-et-reves.s3.eu-west-3.amazonaws.com/vite-et-reves-sailing.jpg&t=square&a=attention&output=webp);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0px;
	left: 0px;
	/* fixed to left. Replace it by right if you want.*/
	min-width: 100%;
	min-height: 100%;
	max-width: none !important;
	width: auto;
	height: auto;
}

.shadow {
	filter: drop-shadow(0 0 30px black);
}

.hero .subtitle {
	z-index: 1;
	color: white;
	text-shadow: 0 0 30px black;
	font-style: italic;
	margin-top: 1em;
}

blockquote {
	border-left: 5px solid wheat;
	padding-left: 1em;
}

.article li {
	margin-left: 1em;
}

.article li::before {
	content: "•";
	color: wheat;
	display: inline-block;
	width: 1em;
	margin-left: -1em
}

.travelmap {
	height: 100vh;
}

.hero img {
	z-index: 1;
	position: relative;
	max-height: 300px;
	max-width: 95%;
}

img {
	max-width: 100%;
}

.is-fullwidth {
	width: 100%;
}

a.icon {
	padding: 20px;
	font-size: 30px;
	height: 70px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity 200ms;
}

.follow-us .icon {
	color: white;
}

/* Add a hover effect if you want */
.follow-us .icon:hover {
	opacity: 0.7;
	color: white;
}

/* Set a specific color for each brand */

.icon-facebook {
	background: #3B5998;
}

.icon-youtube-play {
	background: #bb0000;
}

.icon-instagram {
	background: #125688;
}

.follow-us {
	text-align: center;
}

.follow-us a {
	margin: 0 .5em;
}

.post {
	width: 100%;
	position: relative;
	height: 0;
	padding-bottom: 33%;
	margin: 2px 0;
}

.post picture, .post img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.post .post-text {
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	text-shadow: 0 0 30px black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-text a, .post-text a:hover {
	color: white;
	text-decoration: none;
}

.post-text h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.post-text .button {
	margin-top: 1rem;
}

.button.is-primary.is-inverted.is-outlined.is-focused,
.button.is-primary.is-inverted.is-outlined.is-hovered,
.button.is-primary.is-inverted.is-outlined:focus,
.button.is-primary.is-inverted.is-outlined:hover {
	text-shadow: none;
}

.footer {
	background-color: black;
	color: white;
	padding-bottom: 3rem;
}

.main-heading, .main-content, .prev-next, .footer, .introtext, .follow-us {
	margin-top: 5rem;
}

.introtext, .follow-us {
	margin-bottom: 5rem;
}

.footer a {
	color: #848484;
}

.navbar {
	transition: top 200ms;
}

.fade {
	animation-name: fade;
	animation-duration: 200ms;
}

.sticky-top {
	position: fixed;
	top: 7rem;
	background-color: white;
	border: 1px solid #4a4a4a;
}

.sticky-top a {
	color: #4a4a4a;
}

p {
	margin-bottom: 1em;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@font-face {
  font-family: "icons";
  src:url("/fonts/icons.eot");
  src:url("/fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icons.woff") format("woff"),
    url("/fonts/icons.ttf") format("truetype"),
    url("/fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-youtube-play:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
