{{ $year := now.Format "2006" }}
<footer class="footer">
	<div class="container is-fluid">
		<div class="columns">
			<div class="column is-6">
				&copy; 2019{{ if (ne $year "2019") }}-{{ $year }}{{ end }} &mdash; Vite &amp; Rêves
			</div>
			<div class="column is-6 has-text-right-desktop">
				Questions? Suggestions? <span class="email">Mail us!</span>
			</div>
		</div>
	</div>
</footer>

{{ $bulma := resources.Get "css/bulma.sass" | toCSS }}
{{ $inline := resources.Get "css/inline.scss" | toCSS }}
{{ $custom := resources.Get "css/style.scss" | toCSS }}

{{ $style := slice $bulma $inline $custom | resources.Concat "css/style.css" | minify | fingerprint }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap" rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'">

<noscript>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap">
</noscript>
