<!-- Begin Footer
================================================== -->
<footer class="footer">
	<div class="content has-text-centered">
		&copy; 2019-2020 &mdash; Vite &amp; Rêves
	</div>
</footer>
<!-- End Footer
================================================== -->

<link href="{{ "/css/bulma.min.css" | urlize | relURL }}" rel="stylesheet">
<link href="{{ "/css/style.css" | urlize | relURL }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans:400&display=swap" rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'">

<noscript>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap">
</noscript>
