<!-- Begin Menu Navigation
================================================== -->
<nav id="navbar" class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
	<a class="skip-main" href="#main">Skip to main content</a>
	<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
		data-target="navMenu">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</a>

	<!-- Begin Menu -->
	<div id="navMenu" class="navbar-menu">
		<!-- Begin Logo -->
		<div class="navbar-start">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					{{ "themes/vite-et-reves/static/images/logo.svg" | readFile | safeHTML }}
				</a>
			</div>
		</div>
		<!-- End Logo -->

		<div class="navbar-end">
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
			<a class="navbar-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">
				{{ .Name | title }}
			</a>
			{{ end }}
		</div>
	</div>
	<!-- End Menu -->
</nav>
<!-- End Navigation
================================================== -->
