[
{{ range $index, $e := (where .Site.RegularPages.ByTitle "Section" "captains-log" ) }}
{{ if $index }}, {{ end }}
{
	url: {{ $e.Permalink }},
	gpx: {{ $e.Params.gpx }},
	{{ $image := "<>" }}
	description: '<a href="{{ $e.Permalink }}">{{ with $e.Params.image }}<img src="//images.weserv.nl/?url=https://vite-et-reves.s3.eu-west-3.amazonaws.com/{{ . }}&w=400&h=200&t=square&a=attention&output=webp" />{{ end }}<center><h6 style="margin-top: .25em">{{- $e.Params.title -}}</h6></center></a>',
}
{{ end }}
]
