@charset "UTF-8";

html {
	font-size: 20px;
}

body,
button,
input,
select,
textarea {
	font-display: swap;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

small {
	font-size: 0.75rem;
}

.article {

	h4,
	h5,
	h6 {
		margin-top: 1em;
		margin-bottom: .75em;
	}
}

picture {
	position: relative;
}

picture source {
	position: absolute;
}

#navbar {
	will-change: transform;
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.navbar-brand svg {
	height: 2rem;
	fill: currentColor;
}


.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

video#hero-video {
	background-image: url(//images.weserv.nl/?url=https://vite-et-reves.s3.eu-west-3.amazonaws.com/IMG_6366.jpg&w=900&h=600&t=square&a=attention&output=webp);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

.hero {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	svg {
		height: 200px;
		fill: white;
		filter: drop-shadow(0 0 30px black);
		margin-bottom: 1rem;
		z-index: 1;
	}

	.subtitle {
		z-index: 1;
		color: white;
		text-shadow: 0 0 30px black;
		margin-top: 1em;
	}

	img.logo {
		max-width: 100px;
		max-height: 100px;
		margin-bottom: 1rem;
	}

	img.logo-text {
		max-width: 90%;
		max-height: 80px;
	}

}

@media (prefers-color-scheme: dark), (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
	.hero {
		svg {
			fill: white;
			filter: drop-shadow(0 0 30px black);
		}
		.subtitle {
			color: white;
			text-shadow: 0 0 30px black;
		}
	}
}

.shadow {
	filter: drop-shadow(0 0 30px black);
}
