</div>
<div class="column is-12">
	<div id='map' style='width: 100%; height: 90vh;'></div>

	<link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
	<style>
		.marker {
			display: block;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			padding: 0;
		}

		.mapboxgl-popup {
			max-width: 400px;
			font: 16px 'Lora', serif;
		}

		.mapboxgl-popup-content {
			text-align: center;
		}
	</style>

	<script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoicGpkcyIsImEiOiJVNEdDc3RjIn0.kmBUhtCdHZI_21ySyX56CQ';

		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/light-v10'
		});

		var trackPopup = new mapboxgl.Popup({
			// closeButton: false,
			closeOnClick: false
		});

		var getJSON = function (url, callback) {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', url, true);
			xhr.responseType = 'json';
			xhr.onload = function () {
				var status = xhr.status;
				if (status === 200) {
					callback(null, xhr.response);
				} else {
					callback(status, xhr.response);
				}
			};
			xhr.send();
		};

		map.on('load', function () {

			getJSON('https://api.roambee.com/v2/shipment/summary?uuid=d2f388be-f054-4a1b-bb18-bff615a1e7f7&apikey=069b6dee-6091-4241-90b9-b1976859e2c3',
			function(err, data) {
				if (err !== null) {
					alert('Something went wrong. We couln\'t connect to the roambee server. (Error ' + err + ')');
				} else {
					var lastKnownPosition = data.geo_summary.current_location;
					console.log('lastKnownPosition:', lastKnownPosition);
					var geojson = {
						"type": "FeatureCollection",
						"features": [
							{
								"type": "Feature",
								"properties": {
									"message": "<h6>Vite & Rêves' current position</h6><br/><small>(Tracking data provided by <a href='https://www.logisticsplus.net' target=_blank>Logistics Plus</a>, thanks Fre and Read!)</small>",
									"iconSize": [60, 60]
								},
								"geometry": {
									"type": "Point",
									"coordinates": [
										lastKnownPosition.lng,
										lastKnownPosition.lat
									]
								}
							},
						]
					};

					geojson.features.forEach(function(marker) {
					// create a DOM element for the marker
					var el = document.createElement('div');
					el.className = 'marker';
					el.style.backgroundImage = 'url(//images.weserv.nl/?url=https://vite-et-reves.s3.eu-west-3.amazonaws.com/vite-et-reves-sailing.jpg&w=60&h=60&fit=cover&mask=circle)';

					el.style.width = marker.properties.iconSize[0] + 'px';
					el.style.height = marker.properties.iconSize[1] + 'px';

					var popup = new mapboxgl.Popup({ offset: 25 })
						.setHTML(marker.properties.message)

					// add marker to map
					new mapboxgl.Marker(el)
						.setLngLat(marker.geometry.coordinates)
						.setPopup(popup) // sets a popup on this marker
						.addTo(map);
					});

				}

			});

			getJSON('/route/{{ range (readDir "static/route") }}{{ .Name }}{{ end }}',
				function (err, data) {
					if (err !== null) {
						alert('Something went wrong. We couln\'t load the route file. (Error ' + err + ')');
					} else {
						map.addLayer({
							"id": "tracks",
							"type": "line",
							"source": {
								"type": "geojson",
								"data": data,
							},
							"layout": {
								"line-join": "round",
								"line-cap": "round"
							},
							"paint": {
								"line-color": "#67adb7",
								"line-width": 6
							}
						});
						// Geographic coordinates of the LineString
						var coordinates = data.features.map(feature => feature.geometry.coordinates).reduce((p,c) => p.concat(c), []);

						// Pass the first coordinates in the LineString to `lngLatBounds` &
						// wrap each coordinate pair in `extend` to include them in the bounds
						// result. A variation of this technique could be applied to zooming
						// to the bounds of multiple Points or Polygon geomteries - it just
						// requires wrapping all the coordinates with the extend method.
						var bounds = coordinates.reduce(function (bounds, coord) {
							return bounds.extend(coord);
						}, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

						map.fitBounds(bounds, {
							padding: 50
						});

						var posts = [
							{{ range $index, $e := (where .Site.RegularPages.ByTitle "Section" "captains-log" ) }}
							{{ if $index }}, {{ end }}
							{
								url: {{ $e.Permalink }},
								gpx: {{ $e.Params.gpx }},
								description: '<a href="{{ $e.Permalink }}">{{ with $e.Params.image }}<img src="//images.weserv.nl/?url=https://vite-et-reves.s3.eu-west-3.amazonaws.com/{{ . }}&w=400&h=200&t=square&a=attention&output=webp" />{{ end }}<h6 style="margin-top: .25em">{{- $e.Params.title -}}</h6></a>',
							}
							{{ end }}
							]
							;

						map.on('mouseenter', 'tracks', function(e) {
							var correspondingPost = posts.find(function(post) {
								return post.gpx === e.features[0].properties.source;
							});

							if (correspondingPost) {
								// Change the cursor style as a UI indicator.
								map.getCanvas().style.cursor = 'pointer';

								// set coordinates to the middel of the geojson
								var coordinates = e.features[0].geometry.coordinates[Math.floor(e.features[0].geometry.coordinates.length / 2)];
								// Populate the popup and set its coordinates
								// based on the feature found.
								trackPopup.setLngLat(coordinates)
									.setHTML(correspondingPost.description)
									.addTo(map);
							}
						});
					}
				});
		});

	</script>


</div>
<div class="column is-8 is-offset-2">
