</div>
<div class="column is-12">
	<div id='map' style='width: 100%; height: 90vh;'></div>

	<link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
	<style>
		.marker {
			display: block;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			padding: 0;
		}

		.mapboxgl-popup {
			max-width: 400px;
			font: 16px 'Lora', serif;
		}

		.mapboxgl-popup-content {
			text-align: center;
		}
	</style>



	{{ $map := resources.Get "js/map.js" | minify | fingerprint }}

	<script src="https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js"></script>
	<script type="text/javascript">

		var routeFile = '/route/{{ range (readDir "static/route") }}{{ .Name }}{{ end }}';
		var posts = [
		{{ range $index, $e := (where .Site.RegularPages.ByTitle "Section" "captains-log" ) }}
		{{ if $index }}, {{ end }}
		{
			url: {{ $e.Permalink }},
			gpx: {{ $e.Params.gpx }},
			description: '<a href="{{ $e.Permalink }}">{{ with $e.Params.image }}<img src="//images.weserv.nl/?url=https://vite-et-reves.s3.eu-west-3.amazonaws.com/{{ . }}&w=400&h=200&t=square&a=attention&output=webp" />{{ end }}<h6 style="margin-top: .25em">{{- $e.Params.title -}}</h6></a>',
		}
		{{ end }}
		]
		;

	</script>
	<script type="text/javascript" src="{{ $map.RelPermalink }}" integrity="{{ $map.Data.Integrity }}"></script>

</div>
<div class="column is-8 is-offset-2">
