{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content article">
	<!-- Begin Article
        ================================================== -->
	<div class="container">
		<div class="columns is-multiline">
			<!-- Post Share -->
			<!-- <div class="column is-1 is-offset-1">
				{{- partial "single-partials/share.html" . -}}
			</div> -->
			<!-- Post -->
			<div class="column is-8 is-offset-2">
				<div class="mainheading columns">
					<!-- Post Title -->
					<div class="column">
						<h1 class="is-size-1-desktop is-size-2-tablet is-size-4-mobile">{{ .Title | replaceRE "^[0-9]+-[0-9]+-[0-9]+" "" }}</h1>
						<p class="subtitle is-size-7">
							{{ with .Params.author }}
							Written by {{ . }} on
							{{ end }}
							{{ dateFormat "Jan 2, 2006" .PublishDate }}
							&mdash;
							{{ .ReadingTime }} min read
						</p>
					</div>
				</div>

				<!-- Post Featured Image -->
				<!-- {{with .Params.image}}
				<img class="featured-image img-fluid" src="{{ . | urlize | relURL }}" alt="thumbnail for this post">
				{{end}} -->
				<!-- End Featured Image -->

				<!-- Post Content -->
				{{ .Content}}

				<!-- Next and PrevPage inside current section -->
				<div class="prev-next column columns is-mobile">
					{{with .PrevInSection}}
					<div class="column is-6 has-text-left is-paddingless">
						<a class="" href="{{.Permalink}}"> &laquo; Previous: {{ .Title | replaceRE "^[0-9]+-[0-9]+-[0-9]+" "" }}</a>
					</div>
					{{end}}
					{{ $context := . }}
					{{with .NextInSection}}
					<div class="column {{ if $context.PrevInSection }}is-6 {{ end }}has-text-right is-paddingless">
						<a class="" href="{{.Permalink}}">Next: {{ .Title | replaceRE "^[0-9]+-[0-9]+-[0-9]+" "" }} &raquo;</a>
					</div>
					{{end}}
					<div class="clearfix"></div>
				</div>
				<!-- End Next and PrevPage -->
			</div>
			<!-- End Post -->
		</div>
	</div>
	<!-- End Article
        ================================================== -->
</div>
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}
