{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<article class="main-content article">
	<!-- Begin Article
        ================================================== -->
	<div class="container">
		<div class="columns is-multiline">

			<!-- Post -->
			<div class="column is-8 is-offset-2">
				<div class="mainheading columns">
					<!-- Post Title -->
					<div class="column">
						<h1 class="is-size-1-desktop is-size-2-tablet is-size-4-mobile">{{ .Title }}{{ with .Params.subtitle }} {{ . }}{{ end }}</h1>
						<p class="subtitle is-size-7">
							{{ with .Params.author }}
							Written by {{ . }} on
							{{ end }}
							{{ dateFormat "Jan 2, 2006" .PublishDate }}
							&mdash;
							{{ .ReadingTime }} min read
						</p>
						<p class="subtitle is-size-7">
							{{- partial "single-partials/share.html" . -}}
						</p>
					</div>
				</div>

				<!-- Post Content -->
				{{ .Content}}

				<!-- Next and PrevPage inside current section -->
				<nav class="prev-next column columns is-mobile">
					{{with .PrevInSection}}
					<div class="column is-6 has-text-left is-paddingless">
						<a class="article-prev" href="{{.Permalink}}"> &laquo; Previous: {{ .Title }}</a>
					</div>
					{{end}}
					{{ $context := . }}
					{{with .NextInSection}}
					<div class="column {{ if $context.PrevInSection }}is-6 {{ end }}has-text-right is-paddingless">
						<a class="article-next" href="{{.Permalink}}">Next: {{ .Title }} &raquo;</a>
					</div>
					{{end}}
					<div class="clearfix"></div>
				</nav>
				<!-- End Next and PrevPage -->
			</div>
			<!-- End Post -->
		</div>
	</div>
	<!-- End Article
        ================================================== -->
</article>
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}
