<!-- begin post -->
<div class="post">
	<div class="post-text">
		<div>
			<h1 class="is-size-1-desktop is-size-2-tablet is-size-5-mobile">
				<a href="{{ .Permalink }}" title="{{ .Title }}">{{- .Title -}}
				{{ with .Params.subtitle }}<br/><span class="is-size-3-desktop is-size-4-tablet is-size-6-mobile">{{- . -}}
				</span>{{ end }}
				</a>
			</h1>
			<p class="post-date is-size-7">
				{{ with .Params.author }}
				Written by {{ . }} on
				{{ end }}
				{{ dateFormat "Jan 2, 2006" .PublishDate }} - {{ .ReadingTime }} min read
			</p>
		</div>
		</a>
	</div>
	{{ $scratch := newScratch }}
	{{ $scratch.Set "title" .Title }}
	{{ $scratch.Set "permalink" .Permalink }}
	{{with .Params.image}}
		<div aria-role="presentation">
		{{ $image := dict "src" . "alt" ($scratch.Get "title") "ratio" "3x1" }}
		{{- partial "_shared/image.html" $image -}}
		</div>
	{{ end }}
</div>
<!-- end post -->
