{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content article" id="main" tabindex="-1">
	<!-- Begin Article
        ================================================== -->
	<div class="container">
		<div class="columns is-multiline">
			<!-- Post -->
			<div class="column is-8 is-offset-2">
				<div class="mainheading columns">
					<!-- Post Title -->
					<div class="column">
						<h1 class="is-size-1-desktop is-size-2-tablet is-size-4-mobile">Page not found (error 4<span style="font-size: 80%">🌎</span>4)</h1>
					</div>
				</div>


				<!-- Post Content -->
				<p>The page you're looking for is lost at sea...</p>

				<p>You can read from the start here &raquo; {{- partial "_shared/firstpost" $ -}}</p>

			</div>
			<div class="column is-12">
				{{ $image := dict "src" "IMG_6827.jpg" "alt" "Nothing to be found here" "ratio" "16x9" }}
				{{- partial "_shared/image.html" $image -}}
			</div>
			<div class="column is-8 is-offset-2">
			</div>
			<!-- End Post -->
		</div>
	</div>
	<!-- End Article
        ================================================== -->
</div>
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}
