{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div>
		<section class="hero is-fullheight">
			{{ with .Site.Params.index.video }}
				{{- partial "_shared/video.html" . -}}
			{{ end }}
			<img src="images/logo-white.svg" class="logo shadow" />
			<img src="images/logo-text.svg" class="logo-text shadow" />
            {{ with .Site.Params.index.subtitle }}
			<h4 class="subtitle is-size-3"><i>{{ . }}</i></h4>
			{{ end }}
		</section>

		{{ with .Site.Params.index.introtext }}
		<section class="introtext">
			<div class="container">
				<div class="columns is-marginless">
					<div class="column is-8 is-offset-2">
						<p>
							{{ "We're a **family of five** traveling around the world in a Catana 401 named **Vite & Rêves**. You can translate this name as Fast & Dreams, but it's also pronounced the same way as 'Vis tes rêves' &mdash; _Live your dreams_." | markdownify }}
						</p>

						{{ $firstPost := index (last 1 (where $.Site.RegularPages "Section" "captains-log")) 0 }}
						{{ with $firstPost }}
						<p>
							Read from the start &raquo;
							<a class="" href="{{.Permalink}}"> {{- partial "_shared/title" .Title -}}</a>
						</p>
						{{ end }}
					</div>
				</div>
			</div>
		</section>
		{{ end }}

		{{- partial "_shared/social.html" . -}}

		{{ $section := where .Site.RegularPages "Section" "in" (slice "captains-log" "first-mates-log") }}
		<section class="recent-posts">
			<div class="row listrecent">
				{{ $post_paginator := .Paginate ($section) 10 }}
				{{ range $post_paginator.Pages }}
					{{- partial "list-partials/postbox.html" . -}}
				{{end}}
			</div>
		</section>
		{{- partial "list-partials/pagination.html" $post_paginator -}}

    </div>
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
